/* GLOBAL CODE */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

*{
  user-select: none;
  cursor: crosshair;
}

/* Body Code */
body{
  background-color: black;
  box-sizing: border-box;
}

/* MENU ITEMS */
#score{
  display: none;
  color:black; 
  background-color:white;
  border-color:black;
  border-style: solid;
  padding: 10px;
  width: 20vw;
  height: 5vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Sedgwick Ave Display', cursive;
  /* animation: pulse 2s ease-in-out alternate infinite; */
}

#countdown{
  display: none;
  color:black; 
  background-color:white;
  border-color:black;
  border-style: solid;
  padding: 10px;
  width: 20vw;
  height: 5vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Sedgwick Ave Display', cursive;
  /* animation: pulse 2s ease-in-out alternate infinite; */
}

#menu{
  display: flex;
  justify-content: space-between;
}

/* Start screen */
#intro-heading{  
  /* animation: pulse 2s ease-in-out alternate infinite;  */
  color: white;
  
  width: 80vw;
  height: 50px;
  margin: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  padding:5px;
  text-align: center;
  
  border-color: white;
  border-style: dashed;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size:xx-large;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-screen{
  display: flex;
  flex-direction: column;
  
    align-items: center;
    margin: auto;
    height: 100vh;
}

/* INTRO BALL */
.starting-ball-parent{  
    display: flex;
    justify-content: center;
     animation: pulse 2s ease-in-out alternate infinite;
    height: 50%;
 }   
 
 .starting-ball-child{
     animation:bounce 8s ease-in-out alternate infinite; 
     
     background-color: black;
     border-radius: 100%;
     
     height: 50px;
     width: 50px;
    } 

/* difficulty screen code */
#difficulty-screen{
    font-family: 'Sedgwick Ave Display', cursive;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
     
    animation: pulse 2s ease-in-out alternate infinite; 
    text-align: center;
    border-color: white;
    border-style: dashed;
    width: 50%;
    margin:auto;
    padding:20px;
  }   
  
  #difficulty-screen h2{  
    color:white;
    margin: 0%;
    min-width: auto;
  }   
  /* TODO - basic code for the play area */
  .play-area{
    background-color: white;
    height: 80vh;
    width: 80vw;
    margin: auto;
    

  }
  
  .play-area img{
    height: 100%;
    width: 100%;

    padding-top: 0px;
    padding-left: 0px;

    
  }


  .medium-game-play-area{
    background-color: white;
    height: 80vh;
    width: 80vw;
    margin: auto;
    
    border-style: dotted;
    border-color: white;
    
    overflow: hidden;
  }

    /* Parent for the balls */
.horizontal{
  animation: updown 5s infinite linear; }

    .horizontal img{
      height:80px;
      width:80px;
      position: absolute;
      display: block;
    }

    .medium-horizontal img{
      height:80px;
      width:80px;
      position: absolute;
      display: block;
    }

/* PLAYERS */
#choose-players{
    color:white;
    border-color: white;
    border-style: dotted;

     animation: pulse 2s ease-in-out alternate infinite;
    display: none;
    flex-direction: column;
    text-align: center;

    /* animation: pulse 2s ease-in-out alternate infinite;  */
    font-family: 'Sedgwick Ave Display', cursive;
    padding:5px;
    width: 70%;
    margin: auto;
}

#player-two{
  text-decoration: line-through;
  pointer-events: none;
}